<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo|Slabo+27px" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1 class="heading1">Responsive Layouts Without Bootstrap</h1>
    <section id="section1">
        <p class="paragraph1">
            This is a simple demonstration of organizing different elements without bootstrap so that when a browser is resized the elements
            djust accordingly.The goal is obviusly to be completely functional with as simple coding as possible.This means
            avoiding meia queries when possible etc.Maybe this is common knowledge or most but as I'm growing and learning.I
            haven't found a comprehensive tutorial on the web with this stuff.SO...here's my two cents.
        </p>
    </section>
    <h2 class="heading2">Working With Inline Block</h2>

    <section id="section2">
        <p class="paragraph2">Let's say you have a group of objects that are all similar in size and shape.A common scenario would be if you had
            multiple images or icons that you are setting side by side in a row.In our case,we'll use boxes.The easiest set-up
            is to set them in a paret container with text-align:center; to center them and then give each element a display:inline
            or inline-block.FYI,you do have to declare a width in order for this to work.Just keeping it real.</p>
    </section>
    <div></div>
    <div></div>
    <div></div>
    <div></div>

</body>

</html>